.PENDING {
  padding: 5px 20px;
  display: inline-block;
  border-radius: 50px;
  background: var(--mantine-color-gray-filled);
  color: var(--mantine-color-white);
  flex-grow: 1;
  text-align: center;
  margin-inline: 10px;
}

.REJECTED {
  padding: 5px 20px;
  display: inline-block;
  border-radius: 50px;
  background: var(--mantine-color-red-filled);
  color: var(--mantine-color-white);
  flex-grow: 1;
  text-align: center;
  margin-inline: 10px;
}

.SUCCEED {
  padding: 5px 20px;
  display: inline-block;
  border-radius: 50px;
  background: var(--mantine-color-green-filled);
  color: var(--mantine-color-white);
  flex-grow: 1;
  text-align: center;
  margin-inline: 10px;
}